[alias]
    amend     = commit --amend
    last      = log --stat --abbrev-commit -1
    ll        = log --stat --abbrev-commit
    revise    = !git add -A && git amend -C HEAD && git push -f
    st        = status
    sync      = !git pull && git push
    tags      = !git tag | sort -t. -k 1,1n -k 2,2n -k 3,3n -k 4,4n
    up        = !git stash --include-untracked && git pull && git stash pop
    who       = shortlog --numbered --summary --email --no-merges
    word-diff = diff --color-words=.
[branch]
    autosetuprebase = always
[color]
    branch = auto
    diff = auto
    grep = auto
    interactive = auto
    status = auto
    ui = auto
[color "grep"]
    filename = magenta
    linenumber = green
    match    = red bold
    separator  = cyan
[commit]
	gpgSign = false
[core]
    ignorecase = false
    pager = less -r
    trustctime = false
[diff "sops"]
    textconv = "sops -d"
[filter "lfs"]
    clean = git-lfs clean -- %f
    process = git-lfs filter-process
    required = true
    smudge = git-lfs smudge -- %f
[http]
	version = HTTP/1.1
[init]
    defaultBranch = trunk
    # can't be a symlink
    templateDir = ~/.dotfiles/git-template
[merge]
    log = true
    summary = true
[pager]
    branch = false
[push]
    default = simple
    autoSetupRemote = true
[remote "origin"]
    push = HEAD
    # fetch = +refs/heads/*:refs/remotes/origin/*
[user]
    name = Willi Schönborn
    signingkey = 0x5933861F7197F8C7
    useConfigOnly = true
[safe]
    directory = /Users/willi.schoenborn/Projects/architecture/tech.gropyus.com
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
