[core]
    ignorecase = false
    trustctime = false
    pager = less -r
[init]
    # can't be a symlink
    templateDir = ~/.dotfiles/git-template
[alias]
    # common typos
    staus     = status
    stats     = status
    stauts    = status
    st        = status

    # my aliases
    amend     = commit --amend
    last      = log --stat --abbrev-commit -1
    ll        = log --stat --abbrev-commit
    sync      = !git pull && git push
    tags      = !git tag | sort -t. -k 1,1n -k 2,2n -k 3,3n -k 4,4n
    update    = !git stash --include-untracked && git pull && git stash pop
    who       = shortlog --numbered --summary --email --no-merges
    word-diff = diff --color-words=.

    # HOWTO migrate from master to main
    # 1. Rename local master to main and update github workflows: git main
    # 2. Change default branch from master to main on Github
    # 3. Change branch protection from master to main on Github
    # 4. Delete remote master branch and clean up any remnants of master:
    no-master = !git push origin --delete master && git fetch && git remote prune origin && git remote set-head origin --auto
[color]
    branch = auto
    diff = auto
    grep = auto
    status = auto
    ui = auto
    interactive = auto
[color "grep"]
    filename = magenta
    match    = red bold
    linenumber = green
    separator  = cyan
[branch]
    autosetuprebase = always
[merge]
    log = true
    summary = true
[push]
    default = simple
[remote "origin"]
    push = HEAD
    # fetch = +refs/heads/*:refs/remotes/origin/*
[user]
    name = Willi Schönborn
    useConfigOnly = true
    signingkey = 43A921D40B25C552
[commit]
    gpgsign = true
[pager]
    branch = false
[credential]
    helper = ""
    helper = manager-core
[credential "https://dev.azure.com"]
    useHttpPath = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
