/.idea
/*.iml

/gpg/**/*
!/gpg/.gnupg
!/gpg/.gnupg/.gpg-v21-migrated
!/gpg/.gnupg/gpg.conf
!/gpg/.gnupg/gpg-agent.conf

/ssh/**/*
!/ssh/.ssh
!/ssh/.ssh/config
!/ssh/.ssh/authorized_keys
!/ssh/.ssh/id_*.pub

/themes/powerlevel10k/

.DS_Store
