/.idea
/*.iml

/gpg/.gnupg/crls.d
/gpg/.gnupg/private-keys-v1.d
/gpg/.gnupg/*.gpg
/gpg/.gnupg/*.gpg~
/gpg/.gnupg/*.kbx
/gpg/.gnupg/*.kbx~
/gpg/.gnupg/random_seed
/gpg/.gnupg/gpg-agent.env

/ssh/.ssh/id_*
/ssh/.ssh/known_hosts

/themes/powerlevel10k/

.DS_Store