[core]
    ignorecase = false
    trustctime = false
    pager = less -r
    excludesfile = ~/.gitignore-global
[alias]
    # common typos
    staus      = status
    stats      = status
    stauts     = status
    st         = status

    # my aliases
    amend      = commit --amend
    authors    = !git shortlog --summary --email --numbered | cut -c8- > AUTHORS && cat AUTHORS
    diff-words = diff --color-words
    dry-merge  = "!f() { git merge-tree $(git merge-base $1 $(git rev-parse --abbrev-ref HEAD)) $1 $(git rev-parse --abbrev-ref HEAD); }; f"
    filelog    = log --patch
    find       = !git ls-files | grep -i
    graph      = log --oneline --abbrev-commit --all --graph --decorate --color
    last       = !git ll -1
    ll         = log --stat --abbrev-commit
    relate     = relate
    tags       = !git tag | sort -t. -k 1,1n -k 2,2n -k 3,3n -k 4,4n 
    who        = shortlog --numbered --summary --email --no-merges
    wtc        = whatthecommit

    # additional aliases/commands in ~/bin/:
    # standup: show my last commits from the last workday
    # sync: stash, pull and stash apply
    # track: make the current branch track the remote with the same name (--set-upstream)
[color]
    branch = auto
    diff = auto
    grep = auto                                                                 
    status = auto
    ui = auto
    interactive = auto
[color "grep"]                                                                  
    filename = magenta                                                          
    match    = red bold                                                         
    linenumber = green                                                          
    separator  = cyan
[branch]
    autosetuprebase = always
[merge]                                                                         
    log = true                                                                  
    summary = true
[push]
    default = simple
[remote "origin"]
    push = HEAD
    # fetch = +refs/heads/*:refs/remotes/origin/*
[user]
    name = Willi Schönborn
    signingkey = 43A921D40B25C552
[commit]
    gpgsign = true
[pager]
    branch = false
[credential]
	helper = ""
	helper = manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
