[core]
    ignorecase = false
[init]
    templatedir = ~/.gitc/templates
[alias]
    # common typos
    staus      = status
    stats      = status
    stauts     = status
    st         = status

    # my aliases
    amend      = commit --amend
    delete     = !sh -c 'git branch -d $1 && git push origin :$1' -
    dispatcher = !~/.git-dispatcher/git-dispatcher.py
    dlc        = diff --cached HEAD^
    filelog    = log --patch
    find       = !git ls-files | grep -i
    grep       = grep -Ii
    ignore     = !~/.git-ignore/git-ignore.py
    last       = !git ll -1
    ll         = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ls         = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    new        = !sh -c 'git log $1@{1}..$1@{0} "$@"'
    push-all   = !git push --all && git push --tags
    tags       = !git tag | sort -t. -k 1,1n -k 2,2n -k 3,3n -k 4,4n 
    tree       = log --graph --oneline --all
    who        = shortlog --numbered --summary --email --no-merges
    wtc        = whatthecommit

    # additional aliases/commands in ~/bin/:
    # standup: show my last commits from the last workday
    # sync: stash, pull and stash apply
    # track: make the current branch track the remote with the same name (--set-upstream)
[color]
    branch = auto
    diff = auto
    status = auto
    grep = auto                                                                 
[color "grep"]                                                                  
    filename = magenta                                                          
    match    = red bold                                                         
    linenumber = green                                                          
    separator  = cyan
[branch]
    autosetuprebase = always
[branch "master"]
    remote = origin
    merge = refs/heads/master
[merge]                                                                         
    log = true                                                                  
    summary = true
[push]
    default = current
[remote "origin"]
    push = HEAD
