#!/bin/sh

# word jumping
# http://superuser.com/questions/205470/why-is-ctrl-arrow-not-working-in-bash-on-os-x
# http://www.michael-noll.com/blog/2007/01/04/word-movement-shortcuts-for-iterm-on-mac-os-x/
"\e[5C": forward-word
"\e[5D": backward-word

# Ctrl + L clears the terminal
C-L: clear-screen

# ignore case when tab complete
set completion-ignore-case on

# add trailing slash to symlinked directories
set mark-symlinked-directories on
